<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jarvis.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Jarvis.Service.Properties.Settings>
            <setting name="DbPath" serializeAs="String">
                <value>jarvis.sqlite3</value>
            </setting>
            <setting name="ServiceHttpUri" serializeAs="String">
                <value>http://localhost:9090/Jarvis</value>
            </setting>
            <setting name="CollectionPeriod" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="ServiceNamedPipeUri" serializeAs="String">
                <value>net.pipe://localhost/Jarvis</value>
            </setting>
        </Jarvis.Service.Properties.Settings>
    </userSettings>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="JarvisServiceBehaviors" name="JarvisService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/Jarvis"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: net.pipe://localhost/Jarvis  -->
        <endpoint address="net.pipe://localhost/Jarvis"
                  binding="netNamedPipeBinding"
                  contract="Microsoft.ServiceModel.Samples.ICalculator" />
        <!-- the mex endpoint is exposed at http://localhost:9090/Jarvis/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBinding"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="JarvisServiceBehaviors">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>